.list-group li {
    margin-bottom: 1rem;
    background: #fff;
    padding: 1rem;
    
     
}
.list-group li a{
    text-decoration: none;
    color: #666;
}
.list-group li:hover{
    box-shadow:0 0 10px #666;
}
.list-group li a:hover{
    color: #000;
    
}
