.member {
    display: flex;
    flex-wrap: wrap;
}

.member-item {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}